* {
    margin: 0;  
      padding: 0;
    }
    
body {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fafafad9;
}

    
button {
        width: 6rem;
        height: 2rem;
        border: groove 3px #000000;
        background-color: #fafafaea;
        cursor: pointer;	
        margin-top: 2rem;
}
    
button:hover {
        background-color: #000000;
        border-radius: 10px;
        border: solid 3px groove #f3eb00;
        color: #fff;
}
    
h1 {
        font-size: 5rem;
        color: #080808;
        font-family: 'Lobster', cursive;
        text-align: center;
        margin-top: 2rem;
}
    
hr {
        width: 100%;
        border: solid 1px #111111;
        margin-top: 2rem;
}
    
main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
    

    
input::placeholder {
        color: #bf2b05;
}
    
.randomTitle {
        font-size: 2rem;
        font-weight: 800;
        color: #bf2b05;
        margin: 1rem;
}
    
.card {
        width: 11rem;
        height: 20rem;	
        border-radius: 15px;
        border: solid 1px #210700;
        box-shadow: 0 0 20px #681b01;
        margin: 1rem;
}
    
.img-card {
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;
}
    
.card > p {
        font-size: 1.5rem;
        color: #bf2b05;
        font-weight: 800;
        text-align: center;	
        height: 30%;
}